body{
    background-color: black;
    
    padding: 0px 40px;
}
#services{
    
    color:aliceblue;
    font-size: 30px;

}
.container h1{
    font-size:300%;
}
.servises-list{
    padding:2% 1%;
    
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:30px;

}
.servises-list div{
    
    padding: 40px;
    
    font-size: 13px;
    font-weight: 300;
    
    background: #262626;
    text-wrap:pretty ;
    
    color:aliceblue;
    transition:background 0.5s, transform 0.5s;
    
}
.servises-list div h2{
    font-size: 300%;
    font-weight:500;
    margin-bottom: 20px;


}
.servises-list div p{
    font-size: 150%;
    font-weight: 50;
}
.servises-list div a{
    text-decoration: none;
    color: #fff;
    font-size:12px;
    margin-top:20px;
    display: inline-block;
    
    height: 15px;
    width:60px;
    padding:5px;
   
    
    background: red;
    
    border-radius: 4px;
    text-align: center;
    align-items: center;
    margin-left: 20%;
    
    
}
.servises-list div:hover{
    background-color: #ff004f;
    transform:translateY(-10px );
    border-radius: 10px;
    cursor: pointer;
   
    
}
.servises-list div a:hover{
    background-color: black;
    color:antiquewhite;
}
